.layui-footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    background-color: #009688;
}

fieldset {
    margin-top: 5%;
}

.layui-textarea {
    min-height: 150px;
}

.layui-upload-drag {
    width: 90%;
    height: 28%;
    margin-left: 2%
}