<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传页面</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/3part/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
    <script src="../static/3part/layui/layui.js"></script>
    <script src="../static/js/upload.js"></script>
</head>
<body>
<div class="layui-form-item">
    <div class="layui-col-xs9 layui-col-sm9 layui-col-md9">
        <label class="layui-form-label">上传路径</label>
        <div class="layui-input-block">
            <input type="text" id="path" name="title" required="" lay-verify="required" placeholder="请输入保存路径"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
        <button id="checkValid" type="button" class="layui-btn layui-btn-normal">核对</button>
        <button id="clearPath" type="button" class="layui-btn layui-btn-warm">清空</button>
    </div>
</div>
<div class="layui-tab-item layui-show">
    <div class="layui-upload">
        <div class="layui-upload-drag" id="testList">
            <i id="upload_icon" class="layui-icon"></i>
            <div id="img_box"><img class="layui-upload-img" id="preview"></div>
            <p id="message" class="drag_message">点击上传，或将文件拖拽到此处</p>
        </div>
        <!--<button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button><input class="layui-upload-file" type="file" accept="" name="file" multiple="">-->
        <button type="button" class="layui-btn" id="testListAction">开始上传</button>
        <div class="layui-inline">
            <select id="create_dir" name="create_dir" class="layui-form-select" lay-verify="">
                <option value="false">不创建目录（默认）</option>
                <option value="true">自动创建目录</option>
            </select>
        </div>
        <div class="layui-progress" lay-filter="demo" lay-showPercent="true">
            <div class="layui-progress-bar" lay-percent=""></div>
        </div>
        <div class="layui-upload-list" style="height: 380px;overflow-y:scroll;">
            <table class="layui-table">
                <thead>
                <tr>
                    <th>文件名</th>
                    <th>大小</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="demoList"></tbody>
            </table>
        </div>

    </div>

</div>
</body>
</html>